@font-face{
	font-family: sun;
	src:url("font1.otf");
}

body{
	margin: 0;
}
#top-menu{
	 position: 	relative;	
	height: 50px;
	width: 100%;
	background-color: #a7c6cf;
}
#box1{
 width: 100%;
 font-size: 0;
}
.box1-img{
 width: 100%;	
}
.top-menu-btn{
	padding: 10px;
	height: 30px;
	color: #000;
	font-size: 25px;
	display: inline-block;	
	position: 	relative;	
	overflow: hidden;	
	transition-duration: 200ms;
	transition-property: color;

}
.top-menu-btn:hover{
	color: #fff;
	background-color:#b4d7d9;
}
#top-menu a{
	text-decoration: none;
}
.line{
	width: 	100%;
	height: 20%;
	background-color: #e8ba82;
	top: 100%;
	position: absolute;	
	left: 0;
	transition-duration: 200ms;
	transition-property: transform;
}
.top-menu-btn:hover .line{
	transform: 	translateY(-100%);
}
.top-menu-btn-img{
	height: 40px;
	margin: -5px;
}
.box1-element-title{
position: absolute;
top: 50%;
transform: translate(-50%,-50%);

}
#box1-element1-title{
 left:80%;
 text-align:left;
}
 #box1-element2-title{
 left:25%;
 text-align: right;
}
.box1-element-title p{
	font-family: sun;
	font-size: 35px;
	color: #000;
}
.switch-btn{
	background-color: #88f;
	padding: 10px;
	font-size: 25px;
	color: #fff;
	text-shadow: 0 0 10px #000;
	display: inline-block;
	transition-duration: 200ms;
	transition-property: transform;
	padding-left: 25px;
	padding-right: 25px;
	font-family: sun;
}
.switch-btn:hover{
	transform: skew(-5deg) translateX(2.1px);
}
.switch-btn div{
	transition-duration: 200ms;
	transition-property: transform;
}
.switch-btn:hover div{
	transform: skew(5deg);
}
.box1-element-title-img{
	max-width: 500px;
}
#trailer{
	position: absolute;
	z-index: 1;
	right: 100px;
	bottom: 100px;
	background-color: rgba(0,0,0,.5);
	border: solid #333 3px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.triangle-right{
	height: 60px;
	width: 60px;
	background-color: #9bb5d4;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-clip-path:polygon( 0% 0%, 100% 50%, 0% 100%);
}
.box1-element{
	position: relative;
}
#box1-element1{
display:block;
}
#box1-element2{
display: none;	
}
.box1-element-title b{
	font-family: sun;
	font-size: 50px;
	color: #000;
}
	.heart{
	height: 60px;
	width: 60px;
	background-color: #9bc9c0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-clip-path:polygon(0px 15px, 10px 5px, 20px 5px, 30px 15px, 40px 5px, 50px 5px, 60px 15px, 60px 25px, 50px 40px, 30px 55px,10px 40px, 0px 25px );
}
#trailer .descr{
		font-size: 25px;
		color: #000;
		position: absolute;
		right: 115%;
		top: 50%;
		width: 250px;
		transform: translateY(-50%);
		font-family: sun;
		text-align: right;
}
#footer{
		background-color: #99ccff;
		position: relative;
		color: #000;
		padding: 25px;
}
#footer a{
		color: #000;
		text-decoration: none;
		margin-right: 15px;
}
#footer a:hover{
		text-decoration: underline;
}
#footer table{
		text-align: left;
}
#up-btn{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 45px;
	width: 45px;
	border: solid #0073e6 3px;
	border-radius: 5px;
}
#up-btn .arrow{
	width: 100%;
	height: 100%;
	background-color: #0073e6;
	-webkit-clip-path:polygon(50% 25%,90% 65%,80% 75%,50% 45%,20% 75%,10% 65%);

}
#block1{
	 width: calc(30% -  20px - 3px);
	background-image: url(inject.jpg);
}
#box2{
	position: relative;
	width: 100%;
	background-color: #99ccff;
}
#feed{
	position: relative;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 1024px;
}
#block2{
 width: calc(60% - 20px -  3px);
 background-image: url(57.jpg);
}
#feed .block{
	height: 400px;
	background-position: center center;
	background-size: cover;
	display: inline-block;
	position: relative;
	margin: 10px;
}
#feed .block .descr{
	bottom: 0;
	left: 0;
	position:absolute;
	padding: 10px;
	color: #000;
	font-family: sun;
	font-size: 15px;
	transition-duration: 200ms;
	transition-property:transform;
}
#feed a{
	text-decoration: none;
}
#feed .block:hover .descr{
	transform: translateY(-15px);
}
#feed .block .gradient{
	background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	transition-duration: 200ms;
	transition-property: height;
}
#feed .block:hover .gradient{
	height: 15%;
}